/* Header */
header {
    width: 100%;
    background-color: #333;
    height: 40px;
}

/* Menu */
ul {
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #3FAAE2;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a.active {
    background-color: lightblue;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

/* File input */
#div_file {
    width: 20%;
    margin: auto;
    background-color: #3FAAE2;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

#div_file input {
    display: block;
}

/* Aside */
aside #figures {
    text-transform: uppercase;
    color: white;
    width: 180px;
    position: absolute;
    background: #3FAAE2;
    bottom: 0;
    top: 0;
    margin-left: -10px;
    margin-top: 40px;
    border: 1px solid grey;
}

aside .figure-container {
    padding-top: 3px;
    padding-top: 3px
}

aside .figure-container:hover {
    background: black;
    width: 80%;
    margin: auto;
    padding: 3px
}

aside .figure-container-clicked {
    background: blue;
    width: 80%;
    margin: auto;
    border-radius: 5px;
}

figure {
    display: block;
    margin: 15px; /* adjust as needed */
    width: 16px;
    height: 16px;
    position: relative;
}
figure img {
    vertical-align: top;
}
figure figcaption {
    position: absolute;
    margin-left: 30px;
    bottom: 0;
}

/* Content */
#paper {
    margin-top: 15px;
    margin-left: 200px;
}

/* Content: Arrows */
.setof { /* empty rhombus */
    d: 'M 30 0 L 60 30 30 60 0 30 z';
    fill: #fff;
}
.aggregation {
    d: 'M 30 0 L 60 30 30 60 0 30 z';
    fill: #000;
}
.arrow {
    fill: #fff;
}

/* Content: Needed for customized elements */
#paper-html-elements {
    position: relative;
    display: inline-block;
    background: transparent;
    overflow: hidden;
}
#paper-html-elements svg {
    background: transparent;
}
#paper-html-elements svg .link {
    z-index: 1;
}
.html-element {
    position: absolute;
    /* Make sure events are propagated to the JointJS element so, e.g. dragging works.*/
    pointer-events: none;
    -webkit-user-select: none;
    /*border-radius: 4px;*/
    padding: 5px;
    box-sizing: border-box;
    z-index: 2;
}
.html-element input {
    /* Enable interacting with inputs only. */
    pointer-events: auto;

    color: #000000;
    border: none;
    width: 90%;
    text-align: center;
    background: transparent;
    z-index: 2;
}
.html-element textarea {
    /* Enable interacting with inputs only. */
    pointer-events: auto;

    position: absolute;
    width: 90%;
    height: 47%;
    right: 2px;
    color: #000000;
    font-size: 9px;
    border-color: transparent;
    resize: none;
    background: transparent;
    z-index: 2;
}
.html-element label {
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: .85em;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;

}
label.small {
    font-size: 9px;
}
hr {
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    width: 90%;
}
text tspan {
    transform: translate(295px, 115px);
}
.move {
    /* Enable interacting with inputs only. */
    pointer-events: auto;

    background-color: white;
    border: 1px solid #000000;
    width: 5px;
    height: 5px;
    position: absolute;
    cursor: nw-resize;
    bottom: -6px;
    right: -2px;
    visibility: hidden;
}
.delete {
    /* Enable interacting with inputs only. */
    pointer-events: auto;

    background-color: transparent;
    width: 5px;
    height: 5px;
    position: absolute;
    bottom: -8px;
    right: 0px;
    visibility: hidden;
    color: red;
    cursor: pointer;
}

/* Footer */
footer {
    z-index: 10;
    height: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: #ffffff;
    background: #4f4f4f;
    text-align: center;
    margin-top: 5px;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
}